<footer class="footer-distributed" style="background-color: black;">

			<div class="footer-left">

				<p class="footer-links">
					<a href="/Homepage" class="link-1">Home</a>
					
					<a href="/#about">About us</a>
				
					<a href="/AboutExpert">Become an Expert</a>
				</p>

				<p class="footer-company-name">Aamer © 2023 </p>
			</div>

			<div class="footer-center" style="text-align: justify">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Riyadh, Saudi Arabia,</span> Prince Sultan University</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+966 55 555 5555</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@Aamer.com">support@Aamer.com</a></p>
				</div>

			</div>

			<div class="footer-right">
                
				<p class="footer-company-about">
					<span>We provide...</span>
                    Expert guidance to overcome everyday challenges. Personalized solutions for finance, career, relationships, health, and more. Contact us to start with confidence!				
                </p>


			</div>

</footer>